.anasayfa{
    background:linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),url("beautiful-sky-over-a-forest-hd-wallpaper-3840x2160.jpg");
    background-position: center;
    opacity: 0.9;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    
 }
 


 .yazilar-2{
    position: absolute;
    top: 17%;
    right: 72%;
    font-size: 700%;
    font-family: "Copperplate Gothic Light"; font-size: 70px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 52.8px; } h3 { font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
 }

 

 .headd{
    position: absolute;
   height: 20vh;
    width: 100vw;
    top: 50%; 
 }


 .yazi-1{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 5px;
   color: rgba(0, 0, 0, 0.75);
   display: inline-block;
   border: 40px;
   font-family: Sen, sans-serif;
  
 }
 .yazi-2{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 5px;
   color: rgba(0, 0, 0, 0.75);
   display: inline-block;
   font-family: Sen, sans-serif;

}
.yazi-3{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 5px;
   color: rgba(0, 0, 0, 0.75);
   display: inline-block;
   font-family: Sen, sans-serif;

}
.yazi-4{
    height: 4vh;
    width: 4vw;
    font-size: 16px;
   margin: 10px;
   padding: 9px;
   display: inline-block;
   font-family: Sen, sans-serif;
   border-style: solid;
   border-color: #5221e6;
   background-color: #5221e6;
   color: aliceblue;

}

.yazi-1:hover{

    color: #00FFFF;
}
.yazi-2:hover{

    color: #00FFFF;
    
}
.yazi-3:hover{

    color: #00FFFF;
}
.yazi-4:hover{
  opacity:0.3;
  box-shadow: .2s;

}
.navs{
    display: inline-block;
    position:fixed;
    margin-right: 35px;
    margin-top: 15px;
    top:0%;
    right: 0%;

}

.logo{
position: absolute;
top:0%;
}

.name{
background-color:transparent;
width: 300px;
height: 30px;
}

input::placeholder {
color:azure;
}
textarea::placeholder {
color: blue;
}

.Email{
background-color:transparent;
width: 300px;
height: 30px;
}
.message{
background-color:transparent;
width: 300px;
height: 60px;
}


.form-1{

position: absolute;
top: 40%;
right: 75%;

}

.form-2{
position: absolute;
top: 50%;
right: 75%;
}
.form-3{
position: absolute;
top: 60%;
right: 75%;

}

.button{
position: absolute;
top: 70%;
right: 84%;
height: 40px;
width: 60px;
background-color: transparent;


}

.footer{

background-attachment:fixed;
width: 100%;
background-color: rgb(228,14,55);
position: absolute;
bottom: -5%;
height: 10vh;


}

.logolar{

position: absolute;
width: 13vw;
height: 5vh;
bottom: 24%;
left: 7%;


}

.logo1{
position: relative;
top: 0%;
left: 50%;
}

.logo2{
position: absolute;
top: 0%;
left: 70%;
}
